body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px; 
    color: #333;
    background: #efeee7;
  }


  header {
    background-color: #ffffff;
  /*   border: solid;
    border-color:  #ffffff; */
    height: 90px;
   /*  padding-top: 30px;
    padding-bottom: 30px; */
  }

  h1 {
    background-color:#4aaaa5;
   /*  border-color: #cccccc; */
   /*  padding-top: 30px;
    padding-bottom: 30px;  */
    font-size: 60px;
    position: fixed;
    left: 50px;
    width: 20%;
    height: 90px;
    margin-left: 10%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    
    
  }



  navigation{
    width: 20%;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  footer{
    
    position:fixed;
    bottom: 0;
    background-color:gray;
    Padding: 30px;
    width: 100%;
    text-align: center;
   }



  h2{
    
    font-size: 2em;
    margin-bottom: 5px;
  }


  .main_content{
    background-color: #ffffff;
    border-color: #cccccc;
    width: 70%;
    margin: 50px;
    float: left;
    padding-bottom: 50px;
  }



  #My_Picture{
    float: left;
    width: 500px;
    margin:20px;
  }

  a{
    display:inline-block;
  }
  
  

  .My_Contact_Info {
    
    margin: 50px;
  }


  #Message_Box {
    height: 200px;
    width: 400px;
  }

  form{
    width: 30%;
    margin-left:auto;
    margin-right: auto;
    
  }